{% extends "base.html" %}
{% block content %}
    <article class="p-2" style="float: left; background: white; border-radius: 10px; width: calc(100vw - 370px);">
      <h1 class="m-2">Dodaj serwer</h1>
    </article>

  <div class="is-flex pl-0 pt-2 pr-0 is-justify-content-space-between" style="width: calc(100vw - 370px);">

    <div class="card" style="border-radius: 10px; width: 100%">
      <header class="card-header">
        <p class="card-header-title">
          Wniosek dodawania serwera
        </p>
      </header>
      <div class="content">
        <div class="card-content">

        </div>
      </div>
    </div>
  </div>

{% endblock %}